<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Premium Multipurpose Admin &amp; Dashboard Template" name="description">
    <meta content="Themesbrand" name="author">

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/select/1.3.3/css/select.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/dataTables.bootstrap5.min.css">

    <link href="${static.url('assets/libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css')}" rel="stylesheet"
        type="text/css" />

    <link rel="stylesheet" type="text/css"
        href="https://cdn.datatables.net/buttons/2.0.1/css/buttons.bootstrap5.min.css">

    <!-- Responsive datatable examples -->
    <link rel="stylesheet" type="text/css"
        href="https://cdn.datatables.net/responsive/2.2.9/css/responsive.bootstrap5.min.css">

    <!-- Bootstrap Css -->
    <link rel="stylesheet" type="text/css"
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">

    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />

    <script src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>

    <!-- for pi chart -->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <style>
        .page-content {
            padding-top: 10px
        }

        .select2-selection__rendered {
            line-height: 36px !important;
        }

        .select2-container .select2-selection--single {
            height: 38px !important;
        }

        .select2-selection__arrow {
            height: 34px !important;
        }

        table.dataTable tbody td.select-checkbox:before,
        table.dataTable tbody td.select-checkbox:after,
        table.dataTable tbody th.select-checkbox:before,
        table.dataTable tbody th.select-checkbox:after {
            top: 50% !important;
        }

        table.dataTable tr.selected td.select-checkbox:after,
        table.dataTable tr.selected th.select-checkbox:after {
            margin-top: -17px !important;
        }
    </style>


</head>

<body>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>

    <!-- Required datatable js -->
    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.3/js/dataTables.bootstrap5.min.js"></script>

    <!-- Responsive examples -->
    <script src="https://cdn.datatables.net/responsive/2.2.9/js/dataTables.responsive.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.9/js/responsive.bootstrap5.min.js"></script>

    <script type="text/javascript" src="https://cdn.datatables.net/select/1.3.3/js/dataTables.select.min.js"></script>


    <!-- Responsive examples -->
    <script src="https://cdn.datatables.net/responsive/2.2.9/js/dataTables.responsive.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.9/js/responsive.bootstrap5.min.js"></script>


    <script type="text/javascript" src="https://cdn.datatables.net/select/1.3.3/js/dataTables.select.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>


    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/home">App Detection</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Hello, {{user}}</a>
                    </li>

                </ul>
                <!-- <button class="btn btn-outline-success" type="submit">Logout</button> -->

            </div>
        </div>
        <a href="/logout" class="navbar-text" style="padding-right: 1%; text-decoration: none;">
            Logout!
        </a>
    </nav>
    <!-- container for app related data -->
    <br>
    {% if error_message %}
        <h3 class="error-message" style="color: red; text-align: center;">{{ error_message }}         <p><a href="/home">Go Back To Home </a></p>
        </h3>
    {% else %}
    <div class="container">
        <div class="row">
            <h4 style="margin-left: 0%;">{{app_decision}}</h4>
            <span style="color:red">{{new_app_msg}}</span>
        </div>
    </div>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-11 col-xl-5">
                <div class="card">
                    <div class="card-body">
                        <div>
                            <h4 class="mb-1 mt-1"><span data-plugin="counterup">{{app_name}}</span></h4>
                            <p class="text-muted mb-0">Category: {{app_category}}</p>
                        </div>
                        <!-- <p class="text-muted mt-3 mb-0"><span class="text-danger me-1"><i
                                    class="mdi mdi-arrow-down-bold me-1"></i>6.24%</span> since last week
                        </p> -->
                    </div>
                </div>
            </div> <!-- end col-->
            <div class="col-md-6 col-xl-3">
                <div class="card">
                    <div class="card-body" style="margin-bottom: -9%;">
                        <div class="float-end mt-2" style="position: relative;">
                            <div id="total-revenue-chart" data-colors="[&quot;--bs-primary&quot;]"
                                style="min-height: 40px;">
                                <div id="apexchartsnruy2kx8j"
                                    class="apexcharts-canvas apexchartsnruy2kx8j apexcharts-theme-light"
                                    style="width: 70px; height: 40px;"><svg id="SvgjsSvg1263" width="70" height="40"
                                        xmlns="http://www.w3.org/2000/svg" version="1.1"
                                        xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs"
                                        class="apexcharts-svg" xmlns:data="ApexChartsNS" transform="translate(0, 0)"
                                        style="background: transparent;">
                                        <g id="SvgjsG1265" class="apexcharts-inner apexcharts-graphical"
                                            transform="translate(0, 0)">
                                            <defs id="SvgjsDefs1264">
                                                <linearGradient id="SvgjsLinearGradient1269" x1="0" y1="0" x2="0"
                                                    y2="1">
                                                    <stop id="SvgjsStop1270" stop-opacity="0.4"
                                                        stop-color="rgba(216,227,240,0.4)" offset="0"></stop>
                                                    <stop id="SvgjsStop1271" stop-opacity="0.5"
                                                        stop-color="rgba(190,209,230,0.5)" offset="1"></stop>
                                                    <stop id="SvgjsStop1272" stop-opacity="0.5"
                                                        stop-color="rgba(190,209,230,0.5)" offset="1"></stop>
                                                </linearGradient>
                                                <clipPath id="gridRectMasknruy2kx8j">
                                                    <rect id="SvgjsRect1275" width="74" height="40" x="-2" y="0" rx="0"
                                                        ry="0" opacity="1" stroke-width="0" stroke="none"
                                                        stroke-dasharray="0" fill="#fff"></rect>
                                                </clipPath>
                                                <clipPath id="gridRectMarkerMasknruy2kx8j">
                                                    <rect id="SvgjsRect1276" width="74" height="44" x="-2" y="-2" rx="0"
                                                        ry="0" opacity="1" stroke-width="0" stroke="none"
                                                        stroke-dasharray="0" fill="#fff"></rect>
                                                </clipPath>
                                            </defs>
                                            <line id="SvgjsLine1274" x1="0" y1="0" x2="0" y2="40" stroke-dasharray="3"
                                                class="apexcharts-xcrosshairs" x="0" y="0" width="1" height="40"
                                                fill="url(#SvgjsLinearGradient1269)" filter="none" fill-opacity="0.9"
                                                stroke-width="0"></line>
                                            <g id="SvgjsG1291" class="apexcharts-xaxis" transform="translate(0, 0)">
                                                <g id="SvgjsG1292" class="apexcharts-xaxis-texts-g"
                                                    transform="translate(0, 2.75)"></g>
                                            </g>
                                            <g id="SvgjsG1294" class="apexcharts-grid">
                                                <g id="SvgjsG1295" class="apexcharts-gridlines-horizontal"
                                                    style="display: none;">
                                                    <line id="SvgjsLine1297" x1="0" y1="0" x2="70" y2="0"
                                                        stroke="#e0e0e0" stroke-dasharray="0"
                                                        class="apexcharts-gridline"></line>
                                                    <line id="SvgjsLine1298" x1="0" y1="8" x2="70" y2="8"
                                                        stroke="#e0e0e0" stroke-dasharray="0"
                                                        class="apexcharts-gridline"></line>
                                                    <line id="SvgjsLine1299" x1="0" y1="16" x2="70" y2="16"
                                                        stroke="#e0e0e0" stroke-dasharray="0"
                                                        class="apexcharts-gridline"></line>
                                                    <line id="SvgjsLine1300" x1="0" y1="24" x2="70" y2="24"
                                                        stroke="#e0e0e0" stroke-dasharray="0"
                                                        class="apexcharts-gridline"></line>
                                                    <line id="SvgjsLine1301" x1="0" y1="32" x2="70" y2="32"
                                                        stroke="#e0e0e0" stroke-dasharray="0"
                                                        class="apexcharts-gridline"></line>
                                                    <line id="SvgjsLine1302" x1="0" y1="40" x2="70" y2="40"
                                                        stroke="#e0e0e0" stroke-dasharray="0"
                                                        class="apexcharts-gridline"></line>
                                                </g>
                                                <g id="SvgjsG1296" class="apexcharts-gridlines-vertical"
                                                    style="display: none;"></g>
                                                <line id="SvgjsLine1304" x1="0" y1="40" x2="70" y2="40"
                                                    stroke="transparent" stroke-dasharray="0"></line>
                                                <line id="SvgjsLine1303" x1="0" y1="1" x2="0" y2="40"
                                                    stroke="transparent" stroke-dasharray="0"></line>
                                            </g>
                                            <g id="SvgjsG1277" class="apexcharts-bar-series apexcharts-plot-series">
                                                <g id="SvgjsG1278" class="apexcharts-series" rel="1"
                                                    seriesName="seriesx1" data:realIndex="0">
                                                    <path id="SvgjsPath1280"
                                                        d="M 1.5909090909090908 40L 1.5909090909090908 30L 4.7727272727272725 30L 4.7727272727272725 30L 4.7727272727272725 40L 4.7727272727272725 40z"
                                                        fill="rgba(91,115,232,0.85)" fill-opacity="1" stroke-opacity="1"
                                                        stroke-linecap="square" stroke-width="0" stroke-dasharray="0"
                                                        class="apexcharts-bar-area" index="0"
                                                        clip-path="url(#gridRectMasknruy2kx8j)"
                                                        pathTo="M 1.5909090909090908 40L 1.5909090909090908 30L 4.7727272727272725 30L 4.7727272727272725 30L 4.7727272727272725 40L 4.7727272727272725 40z"
                                                        pathFrom="M 1.5909090909090908 40L 1.5909090909090908 40L 4.7727272727272725 40L 4.7727272727272725 40L 4.7727272727272725 40L 1.5909090909090908 40"
                                                        cy="30" cx="7.954545454545454" j="0" val="25" barHeight="10"
                                                        barWidth="3.1818181818181817"></path>
                                                    <path id="SvgjsPath1281"
                                                        d="M 7.954545454545454 40L 7.954545454545454 13.600000000000001L 11.136363636363637 13.600000000000001L 11.136363636363637 13.600000000000001L 11.136363636363637 40L 11.136363636363637 40z"
                                                        fill="rgba(91,115,232,0.85)" fill-opacity="1" stroke-opacity="1"
                                                        stroke-linecap="square" stroke-width="0" stroke-dasharray="0"
                                                        class="apexcharts-bar-area" index="0"
                                                        clip-path="url(#gridRectMasknruy2kx8j)"
                                                        pathTo="M 7.954545454545454 40L 7.954545454545454 13.600000000000001L 11.136363636363637 13.600000000000001L 11.136363636363637 13.600000000000001L 11.136363636363637 40L 11.136363636363637 40z"
                                                        pathFrom="M 7.954545454545454 40L 7.954545454545454 40L 11.136363636363637 40L 11.136363636363637 40L 11.136363636363637 40L 7.954545454545454 40"
                                                        cy="13.600000000000001" cx="14.318181818181817" j="1" val="66"
                                                        barHeight="26.4" barWidth="3.1818181818181817"></path>
                                                    <path id="SvgjsPath1282"
                                                        d="M 14.318181818181817 40L 14.318181818181817 23.6L 17.5 23.6L 17.5 23.6L 17.5 40L 17.5 40z"
                                                        fill="rgba(91,115,232,0.85)" fill-opacity="1" stroke-opacity="1"
                                                        stroke-linecap="square" stroke-width="0" stroke-dasharray="0"
                                                        class="apexcharts-bar-area" index="0"
                                                        clip-path="url(#gridRectMasknruy2kx8j)"
                                                        pathTo="M 14.318181818181817 40L 14.318181818181817 23.6L 17.5 23.6L 17.5 23.6L 17.5 40L 17.5 40z"
                                                        pathFrom="M 14.318181818181817 40L 14.318181818181817 40L 17.5 40L 17.5 40L 17.5 40L 14.318181818181817 40"
                                                        cy="23.6" cx="20.68181818181818" j="2" val="41" barHeight="16.4"
                                                        barWidth="3.1818181818181817"></path>
                                                    <path id="SvgjsPath1283"
                                                        d="M 20.68181818181818 40L 20.68181818181818 4.399999999999999L 23.86363636363636 4.399999999999999L 23.86363636363636 4.399999999999999L 23.86363636363636 40L 23.86363636363636 40z"
                                                        fill="rgba(91,115,232,0.85)" fill-opacity="1" stroke-opacity="1"
                                                        stroke-linecap="square" stroke-width="0" stroke-dasharray="0"
                                                        class="apexcharts-bar-area" index="0"
                                                        clip-path="url(#gridRectMasknruy2kx8j)"
                                                        pathTo="M 20.68181818181818 40L 20.68181818181818 4.399999999999999L 23.86363636363636 4.399999999999999L 23.86363636363636 4.399999999999999L 23.86363636363636 40L 23.86363636363636 40z"
                                                        pathFrom="M 20.68181818181818 40L 20.68181818181818 40L 23.86363636363636 40L 23.86363636363636 40L 23.86363636363636 40L 20.68181818181818 40"
                                                        cy="4.399999999999999" cx="27.045454545454543" j="3" val="89"
                                                        barHeight="35.6" barWidth="3.1818181818181817"></path>
                                                    <path id="SvgjsPath1284"
                                                        d="M 27.045454545454543 40L 27.045454545454543 14.8L 30.227272727272727 14.8L 30.227272727272727 14.8L 30.227272727272727 40L 30.227272727272727 40z"
                                                        fill="rgba(91,115,232,0.85)" fill-opacity="1" stroke-opacity="1"
                                                        stroke-linecap="square" stroke-width="0" stroke-dasharray="0"
                                                        class="apexcharts-bar-area" index="0"
                                                        clip-path="url(#gridRectMasknruy2kx8j)"
                                                        pathTo="M 27.045454545454543 40L 27.045454545454543 14.8L 30.227272727272727 14.8L 30.227272727272727 14.8L 30.227272727272727 40L 30.227272727272727 40z"
                                                        pathFrom="M 27.045454545454543 40L 27.045454545454543 40L 30.227272727272727 40L 30.227272727272727 40L 30.227272727272727 40L 27.045454545454543 40"
                                                        cy="14.8" cx="33.40909090909091" j="4" val="63" barHeight="25.2"
                                                        barWidth="3.1818181818181817"></path>
                                                    <path id="SvgjsPath1285"
                                                        d="M 33.40909090909091 40L 33.40909090909091 30L 36.590909090909086 30L 36.590909090909086 30L 36.590909090909086 40L 36.590909090909086 40z"
                                                        fill="rgba(91,115,232,0.85)" fill-opacity="1" stroke-opacity="1"
                                                        stroke-linecap="square" stroke-width="0" stroke-dasharray="0"
                                                        class="apexcharts-bar-area" index="0"
                                                        clip-path="url(#gridRectMasknruy2kx8j)"
                                                        pathTo="M 33.40909090909091 40L 33.40909090909091 30L 36.590909090909086 30L 36.590909090909086 30L 36.590909090909086 40L 36.590909090909086 40z"
                                                        pathFrom="M 33.40909090909091 40L 33.40909090909091 40L 36.590909090909086 40L 36.590909090909086 40L 36.590909090909086 40L 33.40909090909091 40"
                                                        cy="30" cx="39.772727272727266" j="5" val="25" barHeight="10"
                                                        barWidth="3.1818181818181817"></path>
                                                    <path id="SvgjsPath1286"
                                                        d="M 39.772727272727266 40L 39.772727272727266 22.4L 42.954545454545446 22.4L 42.954545454545446 22.4L 42.954545454545446 40L 42.954545454545446 40z"
                                                        fill="rgba(91,115,232,0.85)" fill-opacity="1" stroke-opacity="1"
                                                        stroke-linecap="square" stroke-width="0" stroke-dasharray="0"
                                                        class="apexcharts-bar-area" index="0"
                                                        clip-path="url(#gridRectMasknruy2kx8j)"
                                                        pathTo="M 39.772727272727266 40L 39.772727272727266 22.4L 42.954545454545446 22.4L 42.954545454545446 22.4L 42.954545454545446 40L 42.954545454545446 40z"
                                                        pathFrom="M 39.772727272727266 40L 39.772727272727266 40L 42.954545454545446 40L 42.954545454545446 40L 42.954545454545446 40L 39.772727272727266 40"
                                                        cy="22.4" cx="46.136363636363626" j="6" val="44"
                                                        barHeight="17.6" barWidth="3.1818181818181817"></path>
                                                    <path id="SvgjsPath1287"
                                                        d="M 46.136363636363626 40L 46.136363636363626 32L 49.318181818181806 32L 49.318181818181806 32L 49.318181818181806 40L 49.318181818181806 40z"
                                                        fill="rgba(91,115,232,0.85)" fill-opacity="1" stroke-opacity="1"
                                                        stroke-linecap="square" stroke-width="0" stroke-dasharray="0"
                                                        class="apexcharts-bar-area" index="0"
                                                        clip-path="url(#gridRectMasknruy2kx8j)"
                                                        pathTo="M 46.136363636363626 40L 46.136363636363626 32L 49.318181818181806 32L 49.318181818181806 32L 49.318181818181806 40L 49.318181818181806 40z"
                                                        pathFrom="M 46.136363636363626 40L 46.136363636363626 40L 49.318181818181806 40L 49.318181818181806 40L 49.318181818181806 40L 46.136363636363626 40"
                                                        cy="32" cx="52.499999999999986" j="7" val="20" barHeight="8"
                                                        barWidth="3.1818181818181817"></path>
                                                    <path id="SvgjsPath1288"
                                                        d="M 52.499999999999986 40L 52.499999999999986 25.6L 55.681818181818166 25.6L 55.681818181818166 25.6L 55.681818181818166 40L 55.681818181818166 40z"
                                                        fill="rgba(91,115,232,0.85)" fill-opacity="1" stroke-opacity="1"
                                                        stroke-linecap="square" stroke-width="0" stroke-dasharray="0"
                                                        class="apexcharts-bar-area" index="0"
                                                        clip-path="url(#gridRectMasknruy2kx8j)"
                                                        pathTo="M 52.499999999999986 40L 52.499999999999986 25.6L 55.681818181818166 25.6L 55.681818181818166 25.6L 55.681818181818166 40L 55.681818181818166 40z"
                                                        pathFrom="M 52.499999999999986 40L 52.499999999999986 40L 55.681818181818166 40L 55.681818181818166 40L 55.681818181818166 40L 52.499999999999986 40"
                                                        cy="25.6" cx="58.863636363636346" j="8" val="36"
                                                        barHeight="14.4" barWidth="3.1818181818181817"></path>
                                                    <path id="SvgjsPath1289"
                                                        d="M 58.863636363636346 40L 58.863636363636346 24L 62.045454545454525 24L 62.045454545454525 24L 62.045454545454525 40L 62.045454545454525 40z"
                                                        fill="rgba(91,115,232,0.85)" fill-opacity="1" stroke-opacity="1"
                                                        stroke-linecap="square" stroke-width="0" stroke-dasharray="0"
                                                        class="apexcharts-bar-area" index="0"
                                                        clip-path="url(#gridRectMasknruy2kx8j)"
                                                        pathTo="M 58.863636363636346 40L 58.863636363636346 24L 62.045454545454525 24L 62.045454545454525 24L 62.045454545454525 40L 62.045454545454525 40z"
                                                        pathFrom="M 58.863636363636346 40L 58.863636363636346 40L 62.045454545454525 40L 62.045454545454525 40L 62.045454545454525 40L 58.863636363636346 40"
                                                        cy="24" cx="65.2272727272727" j="9" val="40" barHeight="16"
                                                        barWidth="3.1818181818181817"></path>
                                                    <path id="SvgjsPath1290"
                                                        d="M 65.2272727272727 40L 65.2272727272727 18.4L 68.40909090909089 18.4L 68.40909090909089 18.4L 68.40909090909089 40L 68.40909090909089 40z"
                                                        fill="rgba(91,115,232,0.85)" fill-opacity="1" stroke-opacity="1"
                                                        stroke-linecap="square" stroke-width="0" stroke-dasharray="0"
                                                        class="apexcharts-bar-area" index="0"
                                                        clip-path="url(#gridRectMasknruy2kx8j)"
                                                        pathTo="M 65.2272727272727 40L 65.2272727272727 18.4L 68.40909090909089 18.4L 68.40909090909089 18.4L 68.40909090909089 40L 68.40909090909089 40z"
                                                        pathFrom="M 65.2272727272727 40L 65.2272727272727 40L 68.40909090909089 40L 68.40909090909089 40L 68.40909090909089 40L 65.2272727272727 40"
                                                        cy="18.4" cx="71.59090909090907" j="10" val="54"
                                                        barHeight="21.6" barWidth="3.1818181818181817"></path>
                                                </g>
                                                <g id="SvgjsG1279" class="apexcharts-datalabels" data:realIndex="0"></g>
                                            </g>
                                            <line id="SvgjsLine1305" x1="0" y1="0" x2="70" y2="0" stroke="#b6b6b6"
                                                stroke-dasharray="0" stroke-width="1" class="apexcharts-ycrosshairs">
                                            </line>
                                            <line id="SvgjsLine1306" x1="0" y1="0" x2="70" y2="0" stroke-dasharray="0"
                                                stroke-width="0" class="apexcharts-ycrosshairs-hidden"></line>
                                            <g id="SvgjsG1307" class="apexcharts-yaxis-annotations"></g>
                                            <g id="SvgjsG1308" class="apexcharts-xaxis-annotations"></g>
                                            <g id="SvgjsG1309" class="apexcharts-point-annotations"></g>
                                        </g>
                                        <rect id="SvgjsRect1273" width="0" height="0" x="0" y="0" rx="0" ry="0"
                                            opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0"
                                            fill="#fefefe"></rect>
                                        <g id="SvgjsG1293" class="apexcharts-yaxis" rel="0"
                                            transform="translate(-18, 0)"></g>
                                        <g id="SvgjsG1266" class="apexcharts-annotations"></g>
                                    </svg>
                                    <div class="apexcharts-legend" style="max-height: 20px;"></div>
                                    <div class="apexcharts-tooltip apexcharts-theme-light">
                                        <div class="apexcharts-tooltip-series-group" style="order: 1;"><span
                                                class="apexcharts-tooltip-marker"
                                                style="background-color: rgb(0, 143, 251);"></span>
                                            <div class="apexcharts-tooltip-text"
                                                style="font-family: Helvetica, Arial, sans-serif; font-size: 12px;">
                                                <div class="apexcharts-tooltip-y-group"><span
                                                        class="apexcharts-tooltip-text-label"></span><span
                                                        class="apexcharts-tooltip-text-value"></span></div>
                                                <div class="apexcharts-tooltip-z-group"><span
                                                        class="apexcharts-tooltip-text-z-label"></span><span
                                                        class="apexcharts-tooltip-text-z-value"></span></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div
                                        class="apexcharts-yaxistooltip apexcharts-yaxistooltip-0 apexcharts-yaxistooltip-left apexcharts-theme-light">
                                        <div class="apexcharts-yaxistooltip-text"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="resize-triggers">
                                <div class="expand-trigger">
                                    <div style="width: 71px; height: 41px;"></div>
                                </div>
                                <div class="contract-trigger"></div>
                            </div>
                        </div>
                        <div>
                            <h4 class="mb-1 mt-1"><span data-plugin="counterup">{{total_downloads}}</span></h4>
                            <p class="text-muted mb-0">Total Downloads</p>
                        </div>
                        <!-- <p class="text-muted mt-3 mb-0"><span class="text-success me-1"><i
                                    class="mdi mdi-arrow-up-bold me-1"></i>2.65%</span> since last week
                        </p> -->
                    </div>
                </div>
            </div> <!-- end col-->

            <div class="col-md-6 col-xl-3">
                <div class="card">
                    <div class="card-body" style="margin-bottom: -12%;">
                        <div class="float-end mt-2" style="position: relative;">
                            <div id="orders-chart" data-colors="[&quot;--bs-success&quot;]" style="min-height: 46px;">
                                <div id="apexchartsnukdd473"
                                    class="apexcharts-canvas apexchartsnukdd473 apexcharts-theme-light"
                                    style="width: 45px; height: 46px;"><svg id="SvgjsSvg1310" width="45" height="46"
                                        xmlns="http://www.w3.org/2000/svg" version="1.1"
                                        xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs"
                                        class="apexcharts-svg" xmlns:data="ApexChartsNS" transform="translate(0, 0)"
                                        style="background: transparent;">
                                        <g id="SvgjsG1312" class="apexcharts-inner apexcharts-graphical"
                                            transform="translate(0, 0)">
                                            <defs id="SvgjsDefs1311">
                                                <clipPath id="gridRectMasknukdd473">
                                                    <rect id="SvgjsRect1314" width="51" height="47" x="-3" y="-1" rx="0"
                                                        ry="0" opacity="1" stroke-width="0" stroke="none"
                                                        stroke-dasharray="0" fill="#fff"></rect>
                                                </clipPath>
                                                <clipPath id="gridRectMarkerMasknukdd473">
                                                    <rect id="SvgjsRect1315" width="49" height="49" x="-2" y="-2" rx="0"
                                                        ry="0" opacity="1" stroke-width="0" stroke="none"
                                                        stroke-dasharray="0" fill="#fff"></rect>
                                                </clipPath>
                                            </defs>
                                            <g id="SvgjsG1316" class="apexcharts-radialbar">
                                                <g id="SvgjsG1317">
                                                    <g id="SvgjsG1318" class="apexcharts-tracks">
                                                        <g id="SvgjsG1319"
                                                            class="apexcharts-radialbar-track apexcharts-track" rel="1">
                                                            <path id="apexcharts-radialbarTrack-0"
                                                                d="M 22.5 7.134146341463413 A 15.365853658536587 15.365853658536587 0 1 1 22.497318152626402 7.134146575498747"
                                                                fill="none" fill-opacity="1"
                                                                stroke="rgba(242,242,242,0.85)" stroke-opacity="1"
                                                                stroke-linecap="butt" stroke-width="4.258536585365854"
                                                                stroke-dasharray="0" class="apexcharts-radialbar-area"
                                                                data:pathOrig="M 22.5 7.134146341463413 A 15.365853658536587 15.365853658536587 0 1 1 22.497318152626402 7.134146575498747">
                                                            </path>
                                                        </g>
                                                    </g>
                                                    <g id="SvgjsG1321">
                                                        <g id="SvgjsG1323"
                                                            class="apexcharts-series apexcharts-radial-series"
                                                            seriesName="seriesx1" rel="1" data:realIndex="0">
                                                            <path id="SvgjsPath1324"
                                                                d="M 22.5 7.134146341463413 A 15.365853658536587 15.365853658536587 0 1 1 7.886204749611055 27.248309913566267"
                                                                fill="none" fill-opacity="0.85"
                                                                stroke="rgba(52,195,143,0.85)" stroke-opacity="1"
                                                                stroke-linecap="butt" stroke-width="4.390243902439025"
                                                                stroke-dasharray="0"
                                                                class="apexcharts-radialbar-area apexcharts-radialbar-slice-0"
                                                                data:angle="252" data:value="70" index="0" j="0"
                                                                data:pathOrig="M 22.5 7.134146341463413 A 15.365853658536587 15.365853658536587 0 1 1 7.886204749611055 27.248309913566267">
                                                            </path>
                                                        </g>
                                                        <circle id="SvgjsCircle1322" r="13.23658536585366" cx="22.5"
                                                            cy="22.5" class="apexcharts-radialbar-hollow"
                                                            fill="transparent"></circle>
                                                    </g>
                                                </g>
                                            </g>
                                            <line id="SvgjsLine1325" x1="0" y1="0" x2="45" y2="0" stroke="#b6b6b6"
                                                stroke-dasharray="0" stroke-width="1" class="apexcharts-ycrosshairs">
                                            </line>
                                            <line id="SvgjsLine1326" x1="0" y1="0" x2="45" y2="0" stroke-dasharray="0"
                                                stroke-width="0" class="apexcharts-ycrosshairs-hidden"></line>
                                        </g>
                                        <g id="SvgjsG1313" class="apexcharts-annotations"></g>
                                    </svg>
                                    <div class="apexcharts-legend"></div>
                                </div>
                            </div>
                            <div class="resize-triggers">
                                <div class="expand-trigger">
                                    <div style="width: 46px; height: 47px;"></div>
                                </div>
                                <div class="contract-trigger"></div>
                            </div>
                        </div>
                        <div>
                            <h4 class="mb-1 mt-1"><span data-plugin="counterup">{{app_rating}}</span></h4>
                            <p class="text-muted mb-0">App Ratings</p>
                        </div>
                        <!-- <p class="text-muted mt-3 mb-0"><span class="text-danger me-1"><i
                                    class="mdi mdi-arrow-down-bold me-1"></i>0.82%</span> since last week
                        </p> -->
                    </div>
                </div>
            </div> <!-- end col-->

        </div>
    </div>
    <br>
    <br>

    <!-- container for review table-->

    <div class="container">
        <div class="row">
            <div id="datatable_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                <div class="row">
 
                    <div class="row">
                        <div class="col-sm-12">
                            <table id="app_datatable"
                                class="table table-bordered dt-responsive nowrap dataTable no-footer dtr-inline"
                                style="border-collapse: collapse; border-spacing: 0px; width: 100%;" role="grid">
                                <thead>
                                    <tr role="row">
                                        <th class="sorting_asc">Username</th>
                                        <th class="sorting">
                                            Review</th>
                                        <th class="sorting">
                                            Status</th>
                                    </tr>
                                </thead>


                                <tbody>
                                    {% for data in app_review_data %}

                                    <tr role="row" class="odd">

                                        <td class="sorting_1 dtr-control">{{data.username}}</td>
                                        <td class="text-wrap width-500"> {{data.review}}</td>
                                        <td>{{data.status}}</td>

                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div id="piechart" style="width: 900px; height: 500px; margin-left: 25%;"></div>
                        </div>


                    </div>

                </div>
            </div>
        </div>
    </div>
    {% endif %}
</body>

<script>

    // Initialize the DataTable
    $(document).ready(function () {
        $('#app_datatable').DataTable({

            // Disable paging
            // of the DataTable
            paging: true
        });
    }); 
</script>
<script type="text/javascript">
    google.charts.load('current', { 'packages': ['corechart'] });
    google.charts.setOnLoadCallback(drawChart);

    var data = "{{ data1|safe }}"
    console.log(data)

    data = data.replace(/'/g, '"') //replacing all ' with "
    data1 = JSON.parse(data)
    console.log(data1)
    console.log(typeof (data1))
    function drawChart() {

        var data = google.visualization.arrayToDataTable(data1);

        var options = {
            title: 'Review Analysis'
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart'));

        chart.draw(data, options);
    }
</script>

</html>